html {
    min-height: 100%;
}
body {
  overflow-x: hidden;
  color: #222;
  line-height: 1.5;
  margin: 1rem;
  font-family: monospace;
  background: rgb(0,58,155);
  /*background: linear-gradient(0deg, rgba(0,78,255,1) 0%, rgba(0,0,0,1) 100%);
  */
  background-image: url('../hacker-manifesto-bg.jpg');
  background-repeat: repeat;
  /*background-size: contain;
  background-attachment: fixed;*/
}

@media only screen and (min-width: 800px) {
    .body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px) {
    .body {
        font-size: 10px;
    }
}

header {
  border-bottom: 1px solid #3b3b3b;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #524f6e !important;
}
a:hover {
  color: #6d6994 !important; 
  text-shadow: 0px 0px 10px #685aed;
}

hr {
    color: white !important;
    background-color: white !important;
}
