html {
    min-height: 100%;
}
body {
  overflow-x: hidden;
  color: #222;
  line-height: 1.5;
  margin: 1rem;
  font-family: monospace;
  background: #d6d6d6;
}

@media only screen and (min-width: 800px) {
    .body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px) {
    .body {
        font-size: 10px;
    }
}

header {
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
    opacity: .6;
}
a:hover {
    opacity: 1;
}

hr {
    color: black !important;
    background-color: black !important;
}
