html {
    min-height: 100%;
}
body {
    padding: 0 !important;
    overflow-x: hidden;
    color: white;
    line-height: 1.5;
    font-family: monospace;
    background: white;
    margin: 0; 
}

@media only screen and (min-width: 800px) {
    .body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px) {
    .body {
        font-size: 10px;
    }
}

header {
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
    color: black;
    opacity: .6;
}
a:hover {
    opacity: 1;
}

hr {
    color: black !important;
    background-color: black !important;
}
