::-webkit-scrollbar {
  width: 5px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white; 
}


code {
    background: black !important;
    color: white !important;
}

pre code {
    display: block;
}

.post-title {
    font-size: 200px;
}

.container {
    margin: auto !important;
    margin-top: 50px !important;
    color: black;
    padding: 0px 10px;
}

.header {
    padding: 0px 10px;
    width: 100%;
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center;
    border-bottom: 10px solid #1793d1;
    background: #333333;
}

.header pre {
    color: #1793d1;
    text-shadow: 0px 0px 10px #1793d1;
    font-weight: bolder;
}

@media only screen and (min-width: 800px) {
    .container {
        max-width: 800px; 
    }
    .header .header-bg {
        font-size: 18px;
    }
    .header .header-sm {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
        height: 100%;
        border: none;
    }
    .header .header-bg {
        display: none;
    }
    .header .header-sm {
        font-size: 20px;
    }
}

.menu li {
    display: inline-block;
    margin: 0px !important; 
    padding: 0px 10px;
    font-size: 15px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.title {
    text-decoration: underline;
}

code {
    background: #333333;
    color: white;
    padding: 2px;
}

img {
    width: 100%;
}

.gallery {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-image {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.gallery-link {
    opacity: .8 !important;
}

.gallery-link:hover {
    opacity: 1 !important;
}
