<div class="header">
    <!--<h1>{{ site.Title }}</h1>-->
    <pre class="header-bg">
                                                 (                (    
        (   (    )       )      (      (         )\ )   (     )   )\ ) 
 `  )   )(  )\  /((   ( /(   (  )\ )   )\  (    (()/(  ))\ ( /(  (()/( 
 /(/(  (()\((_)(_))\  )(_))  )\(()/(  ((_) )\    ((_))/((_))(_))  ((_))
((_)_\  ((_)(_)_)((_)((_)_  ((_))(_))  (_)((_)   _| |(_)) ((_)_   _| | 
| '_ \)| '_|| |\ V / / _` |/ _|| || |  | |(_-< / _` |/ -_)/ _` |/ _` | 
| .__/ |_|  |_| \_/  \__,_|\__| \_, |  |_|/__/ \__,_|\___|\__,_|\__,_| 
|_|                             |__/</pre>
    <pre class="header-sm">
       (  (   )      )    (      
 `  )  )( )\ /((  ( /(  ( )\ )   
 /(/( (()((_|_))\ )(_)) )(()/(   
((_)_\ ((_|_))((_|(_)_ ((_)(_))  
| '_ \) '_| \ V // _` / _| || |  
| .__/|_| (_|\_/ \__,_\_(|\_, |  
|(|       )\ )  (    )  )\|)_/   
 )\ (    (()/( ))\( /( (()/(     
((_))\    ((_))((_)(_)) ((_))    
 (_|(_)   _| (_))((_)_  _| |     
 | (_-< / _` / -_) _` / _` |     
 |_/__/ \__,_\___\__,_\__,_|   </pre>
    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
</div>
